*.class
.idea/*
*.iml
target/*
.DS_Store

# Vim
*.swp
*.swo

# Game data
src/test/resources/game*
src/test/resources/global_chat.txt
src/test/resources/data/metrics/*

# Environmental
.local-docker-compose.yml
.keys

aws/
csv/
images/
nginx/
static/