*.class
.idea/*
*.iml
target/*
.DS_Store

# Vim
*.swp
*.swo

# Game data
src/test/resources/data/cards/*-beta.csv
src/test/resources/game*
src/test/resources/global_chat.txt
src/test/resources/data/metrics/*
images/*
static/*
csv/*
aws/*

# Environmental
.local-docker-compose.yml
.keys
.

# Certs
*.pem