services:
  static:
    image: nginx
    container_name: static
    ports:
      - "443:443"
    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/cors.txt:/etc/nginx/conf.d/cors.txt
      - ./nginx/certs:/certs
      - ./target/static:/static