<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>JOL3</display-name>
  <description>Jyhad On-Line 3.0 Web Client</description>
  <init-param>
 <param-name>logLevel</param-name>
 <param-value>DEBUG</param-value>
</init-param>
  <context-param>
    <param-name>directory</param-name>
    <param-value>/home/deckserv/interactive/data4</param-value>
    <description>Location of the JOL database files</description>
  </context-param>
  <context-param>
    <param-name>prefix</param-name>
    <param-value>/jol4/</param-value>
    <description>Equal to context root value so hyperlinks can function correctly</description>
  </context-param>
  <context-param>
    <param-name>email</param-name>
    <param-value>george.finklang@gmail.com</param-value>
    <description>System admin email, to email exceptions and other status messages</description>
  </context-param>
  <servlet>
    <servlet-name>JolInit</servlet-name>
    <servlet-class>deckserver.dwr.Init</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>MainPage</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/main.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DeckPage</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/deck.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>TopBar</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/topbar.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AdminPage</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/admin.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GamePage</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/game.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>JolMain</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/jol3.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
<servlet>
  <servlet-name>dwr-invoker</servlet-name>
  <display-name>DWR Servlet</display-name>
  <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
  <init-param>
  <param-name>debug</param-name>
  <param-value>true</param-value>
</init-param>
</servlet>

<filter>
  <filter-name>DeckserverParamFilter</filter-name>
  <filter-class>deckserver.dwr.ParamCheck</filter-class>
</filter>
<filter-mapping>
  <filter-name>DeckserverParamFilter</filter-name>
  <url-pattern>/beta</url-pattern>
</filter-mapping>

<servlet-mapping>
  <servlet-name>dwr-invoker</servlet-name>
  <url-pattern>/dwr/*</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>JolMain</servlet-name>
    <url-pattern>/beta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/ds.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/styles.css</url-pattern>
  </servlet-mapping>
</web-app>
