html {
    /*font-size: .5cm;*/
}

body {
    background: #d0d0d0;
    /*TODO default to dark mode:
    background: #000;
    color: #fff;*/
    min-height: 100vh;
}
 
body * {
    /*font-family: "Times New Roman", Times, serif;*/
    font-family: "IM Fell English", "Times New Roman", Times, serif;
}

input, .form-control, .form-control-lg {
    /*TODO default to dark mode:
    background: #222;
    color: #fff;*/
}

.btn-link {
    border: 0;
    padding: 0;
    margin-bottom: .25mm;
}

.g-recaptcha {
 }
 
h1, h2, h3, h4, h5 {
    font-family: 'IM Fell English', serif;
}

h1 {
    padding-top: .5cm;
}
h2 {
    padding-top: .25cm;
}

/*Inidicate external links with a pop-out character.*/
a[target=_blank]:after {
    content: ' ⎋';
    white-space: nowrap;
}

.form-control-lg {
    margin-top: 2px;
}
