body {
    background: #d0d0d0;
}

body * {
    font-family: "Times New Roman", Times, serif;
}

.inline {
    display: inline;
}

.info-area {
    background: white;
    color: black;
    border: 1px solid #aaaaaa;
}

td a {
    display: block;
    color: black;
}

td a:hover {
    color: #888888;
}

#welcome div {
    height: 30em;
}

#logininputs {
    float: left;
}

#globalChatForm {
    margin-bottom: 0;
}

#globalChatForm {
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

#gchat {
    width: 100%;
    padding: 0 0.5em;
    border: 0;
    line-height: 2em;
}

#gchatwin {
    width: calc(100% - 0.6em);
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#globalChatOutput {
    height: 30em;
}

p.chat {
    margin: 0;
    line-height: 1.3em;
}

ul.help {
    list-style-type: none;
    overflow: hidden;
    background-color: darkslategrey;
}

ul.help li {
    float: left;
}

div#help-body {
    width: 80%;
    margin: 0 auto;
}

ul.help li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 0.5em;
    text-decoration: none;
}

table.help-example {
    border: 1px solid #aaa;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border-spacing: 0;
}

table.help-example th, table.help-example td {
    padding: 2px;
    border: 1px solid black;
}

th.help-command {
    width: 30%;
}

td.help-command {
    font-family: monospace;
}

#buttons {
    display: inline;
}

#clockdiv {
    display: inline;
}

#messages {
    background-color: darkslategrey;
    color: white;
    padding: 1em;
}

#globalchat {
    clear: both;
}

#buttons button {
    margin-right: 0.25em;
}

#buttons button.active-button {
    font-weight: bold;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0.5em;
}

.col-2 {
    -ms-flex-preferred-size: calc(100% / 6);
    flex-basis: calc(100% / 6);
}

.col-3 {
    -ms-flex-preferred-size: 24%;
    flex-basis: 24%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.col-4 {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.col-6 {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.col-8 {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.col-12 {
    -ms-flex-preferred-size: 98%;
    flex-basis: 98%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

h3, h4, h5 {
    margin: 5px;
    font-family: 'IM Fell English', serif;
}

ul.deck-list {
    list-style: none;
    padding-left: 0;
    margin: 0 0 5px 5px;
}

#currentGames {
    border-collapse: collapse;
    border: 1px solid #aaaaaa;
}

#currentGames th {
    text-align: left;
    padding: 0.5em 1em;
}

#currentGames th:last-child {
    text-align: right;
}

#currentGames td, #currentGames tr {
    border: 1px solid #aaaaaa;
    padding: 0.25em;
}

#currentGames td:first-child {
    padding-left: 1em;
}

#currentGames td:last-child {
    text-align: right;
    padding: 0 1em;
}

#owngames tr.active {
    background-color: #eee;
}

#owngames tr.flagged {
    background-color: rgb(255, 228, 146);
}

.light {
    background-color: white;
}

.grey {
    background-color: #eee;
}

.full-border {
    border: 1px solid #aaa !important;
    border-collapse: collapse;
}

.border-left {
    border-left: 1px solid #aaa !important;
    border-collapse: collapse;
}

.border-right {
    border-right: 1px solid #aaa !important;
    border-collapse: collapse;
}

.border-top {
    border-top: 1px solid #aaa !important;
    border-collapse: collapse;
}

.border-bottom {
    border-bottom: 1px solid #aaa !important;
    border-collapse: collapse;
}

h2.header, h3.header, h4.header, h5.header {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    margin: 0.5em 0 0;
    padding: 0.25em;
    background-color: #ddd;
}

h4.header {
    line-height: 1.5em;
}

.footer {
    background-color: #ddd;
    line-height: 1.5em;
    padding: 0.25em;
    margin: 0 0 0.5em;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

ul.condensed-list {
    margin: 0;
    padding: 0.25em;
    list-style: none;
}

ul.condensed-list li {
    padding: 0.5em 0.25em 0.25em 0.25em;
}

ul.condensed-list li p {
    margin: 0.25em 0.25em;
}

.float-right {
    float: right;
}

.no-padding, #state.no-padding {
    padding: 0;
}

.some-padding {
    padding: 0.5em 0.25em;
    line-height: 1.5em;
}

table.clean-no-border {
    width: 100%;
}

table.clean-table {
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
    width: 100%;
}

table.clean-table td, table.clean-table th {
    border: 1px solid #aaaaaa;
    padding: 0.15em 0.5em;
}

.chat-message {
    margin: 0.1em 0.2em 0.1em 0.2em;
}

span.label, small.label {
    border-radius: 0.25rem;
    border: 1px solid #aaaaaa;
    font-size: small;
    padding: 0.25em 0.5em;
    vertical-align: baseline;
    text-align: center;
    line-height: 2.5em;
    white-space: nowrap;
    font-family: 'IM Fell English', serif;
}

span.label-light, small.label-light {
    background-color: #eee;
    color: #111;
}

span.label-dark, small.label-dark {
    color: #111;
    background-color: #bbb;
}

span.label-bold, small.label-bold {
    color: #111;
    border: 2px dotted #111;
}

span.label-warning {
    background-color: rgb(255, 228, 146);
    color: #111;
}

span.label-basic {
    font-family: serif;
}

#donateBox {
    padding-top: 0.5em;
}

td.layout {
    vertical-align: top;
    padding: 0 0.25em;
}

.g-recaptcha {

}

#mydecks td:first-child {
    width: 90%;
}

#mydecks td:last-child {
    width: 10%;
}

#deckcards {
    width: 50%;
    margin-top: 0.25em;
}

.padded {
    padding: 0.5em;
}

.side-padded {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}

#decktext {
    padding: 0.5em;
    border: 0;
    width: 100%;
    height: 40em;
}

.full-width {
    width: 100%;
}

table.game-table, table.player-state {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

table.game-table td.player {
    width: 20%;
    padding: 0;
    border-right: 1px solid #aaa;
    background-color: #eee;
}

table.game-table td.game-cell {
    vertical-align: top;
    padding: 0;
    border: 1px solid #aaa;
}

table.game-table td.command-cell {
    width: 25%;
    background-color: #eee;
}

table.game-table ol.card-list {
    margin: 0 0 0 1.5em;
    padding: 0.5em;
    line-height: 1.5em;
}

td.player ol.card-list li {
    border: 1px solid #aaa;
    border-right-color: black;
    border-bottom-color: black;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin: 0.25em;
}

td.player ol.card-list li li {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

td.player ol.card-list ol {
    border: none;
    border-top: 1px solid #aaa;
}

td.player ol.card-list li li a {
    border: none;
}

table.game-table td.command-cell-double {
    width: 50%;
    background-color: #eee;
}

table.game-table td.player-active {
    background-color: #ddd;
}

#game-info {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

#gameDetails > div {
    height: 15em;
}

#game-info div, #game-info textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    border-collapse: collapse;
}

.scrollable {
    overflow-y: scroll;
}

textarea.game-notes {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
}

.full-height {
    height: 30em;
}

.full-height-content {
    height: 28.5em;
}

.full-height-content-header {
    height: calc(27em - 6px);
}

.half-height {
    height: 15em;
}

.half-height-content {
    height: 13.5em;
}

.half-height-content-header {
    height: calc(12em - 6px);
}

.notes-header {
    height: 1.5em;
}

.game-header {
    border-bottom: 1px solid #aaa;
    margin: 0;
    padding: 0 0.25em;
    line-height: 1em;
    height: 1.5em;
    background-color: #ddd;
    font-family: "Times New Roman", Times, serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.game-header h5 {
    display: inline-block;
}

h5.region-header {
    font-family: "Times New Roman", Times, serif;
    clear: both;
}

span.pool {
    line-height: 1em;
    font-size: small;
    background-color: #dce6be;
    color: #111;
    padding: 0.15em 0.5em
}

span.pool-ousted {
    line-height: 1em;
    font-size: small;
    background-color: #e04848;
    color: white;
    padding: 0.15em 0.5em
}

span.pool-sacked {
    line-height: 1em;
    font-size: small;
    background-color: #e0bb69;
    color: black;
    padding: 0.15em 0.5em
}

span.edge {
    line-height: 1em;
    font-size: small;
    border: 1px solid red;
    background-color: #eee;
    color: #000000;
    padding: 0.15em 0.5em
}

table.game-table a {
    text-decoration: none;
}

p.chat a {
    display: inline;
    background-color: lightgrey;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border-radius: 0.4em;
}

p.chat span.chat-span {
    padding-right: 0.2em;
}

a.card-name {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

small.counter {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: small;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    border-radius: 10px;
    margin-bottom: 0.5em;
    color: #fff;
    background-color: grey;
}

small.blood {
    background-color: #e04747;
}

small.life {
    background-color: #1d9041;
}

.fill-width {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#hand ol.card-list {
    margin: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    line-height: 1.5em;
    list-style-position: inside;
}

.region-empty-true {
    display: none;
}

.region-empty-false {
    display: block;
}