@font-face {
    font-family: 'jol';
    src: url('../fonts/jol.ttf') format('truetype')
}

@font-face {
    font-family: 'disciplines';
    src: url('../fonts/disciplines.ttf') format('truetype');
}

body {
    background: #d0d0d0;
}

body * {
    font-family: "Times New Roman", Times, serif;
}

.inline {
    display: inline;
}

td a {
    display: block;
    color: black;
}

td a:hover {
    color: #888888;
}

#globalChatForm {
    margin-bottom: 0;
}

#globalChatForm {
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

#gchat {
    width: 100%;
    padding: 0 0.5em;
    border: 0;
    line-height: 2em;
}

#globalChatOutput {
    height: 20em;
    width: 100%;
    background: white;
    color: black;
    border: 1px solid #aaaaaa;
}

@media (min-width: 576px) {
    #globalChatOutput {
        /*Fill all available space*/
        height: calc(100vh - 12em);
    }
}

p.chat {
    margin: 0;
    line-height: 1.3em;
}

div.help {
    background-color: darkslategrey;
    padding: 0 .5em;
}

div.help > a {
    color: white;
    padding: .5em;
    text-decoration: none;
}

ul.help {
    list-style-type: none;
    overflow: hidden;
    background-color: darkslategrey;
}

ul.help li {
    float: left;
}

div.help-body {
    margin: 0 auto;
}

@media (min-width: 576px) {
    div.help-body {
        width: 80%;
    }
}

ul.help li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 0.5em;
    text-decoration: none;
}

table.help-example {
    border: 1px solid #aaa;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border-spacing: 0;
}

table.help-example th, table.help-example td {
    padding: 2px;
    border: 1px solid black;
}

th.help-command {
    width: 30%;
}

td.help-command {
    font-family: monospace;
}

#messages {
    background-color: darkslategrey;
    color: white;
    padding: 1em;
}

#globalchat {
    clear: both;
}

h3, h4, h5 {
    margin: 5px;
    font-family: 'IM Fell English', serif;
}

nav * {
    font-family: 'IM Fell English', serif;
}

ul.deck-list {
    list-style: none;
    padding-left: 0;
    margin: 0 0 5px 5px;
}

#currentGames {
    border-collapse: collapse;
    border: 1px solid #aaaaaa;
}

#currentGames th {
    text-align: left;
    padding: 0.5em 1em;
}

#currentGames th:last-child {
    text-align: right;
}

#currentGames td, #currentGames tr {
    border: 1px solid #aaaaaa;
    padding: 0.25em;
}

#currentGames td:first-child {
    padding-left: 1em;
}

#currentGames td:last-child {
    text-align: right;
    padding: 0 1em;
}

#ownGames tr.active {
    background-color: #eee;
}

#ownGames tr.flagged {
    background-color: rgb(255, 228, 146);
}

#ownGames td {
  word-break: break-all;
}

.light {
    background-color: white;
}

.grey {
    background-color: #eee;
}

.full-border {
    border: 1px solid #aaa !important;
    border-collapse: collapse;
}

.border-left {
    border-left: 1px solid #aaa !important;
    border-collapse: collapse;
}

.border-right {
    border-right: 1px solid #aaa !important;
    border-collapse: collapse;
}

.border-top {
    border-top: 1px solid #aaa !important;
    border-collapse: collapse;
}

.border-bottom {
    border-bottom: 1px solid #aaa !important;
    border-collapse: collapse;
}

h2.header, h3.header, h4.header, h5.header {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    margin: 0.5em 0 0;
    padding: 0.25em;
    background-color: #ddd;
}

h4.header {
    font-size: 1em;
    line-height: 1.5em;
}

.footer {
    background-color: #ddd;
    line-height: 1.5em;
    padding: 0.25em;
    margin: 0 0 0.5em;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

ul.condensed-list {
    margin: 0;
    padding: 0.25em;
    list-style: none;
}

ul.condensed-list li {
    padding: 0.5em 0.25em 0.25em 0.25em;
}

ul.condensed-list li p {
    margin: 0.25em 0.25em;
}

.float-right {
    float: right;
}

.no-padding, #state.no-padding {
    padding: 0;
}

.some-padding {
    padding: 0.5em 0.25em;
    line-height: 1.5em;
}

.some-more-padding {
    padding: 0.5em;
}

table.clean-no-border {
    width: 100%;
}

table.clean-table {
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
    width: 100%;
}

table.clean-table td, table.clean-table th {
    border: 1px solid #aaaaaa;
    padding: 0.15em 0.5em;
}

div.clean-table {
    border: 1px solid #aaaaaa;
    border-bottom: 0;
    border-collapse: collapse;
}

form.clean-table {
    border: 1px solid #aaaaaa;
    border-bottom: 0;
    border-collapse: collapse;
}

div.clean-table > div {
    border-bottom: 1px solid #aaaaaa;
    padding: 0.3rem;
}

div.clean-table > div:not(.h5) {
    cursor: pointer;
}

#activeGames > div.h5 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.chat-message {
    margin: 0.1em 0.2em 0.1em 0.2em;
}

span.label, small.label {
    border-radius: 0.25rem;
    border: 1px solid #aaaaaa;
    font-size: small;
    padding: 0.25em 0.5em;
    vertical-align: baseline;
    text-align: center;
    line-height: 2.5em;
    white-space: nowrap;
    font-family: 'IM Fell English', serif;
}

#cardModal span.label {
    border-radius: 0.25rem;
    border: 1px solid #aaaaaa;
    font-family: 'IM Fell English', serif;
}

span.label-light, small.label-light {
    background-color: #eee;
    color: #111;
}

span.label-dark, small.label-dark {
    color: #111;
    background-color: #bbb;
}

span.label-bold, small.label-bold {
    color: #111;
    border: 2px dotted #111;
}

span.label-warning {
    background-color: rgb(255, 228, 146);
    color: #111;
}

span.label-basic {
    font-family: serif;
}

#donateBox {
    padding-top: 0.5em;
}

td.layout {
    vertical-align: top;
    padding: 0 0.25em;
}

.g-recaptcha {

}

#mydecks td:first-child {
    width: 90%;
}

#mydecks td:last-child {
    width: 10%;
}

#deckcards {
    width: 50%;
    margin-top: 0.25em;
}

.padded {
    padding: 0.5em;
}

.side-padded {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}

#deckText {
    padding: 0.5em;
    border: 0;
    width: 100%;
    height: 65vh;
}

#deckEditor h4 {
    height: 2.5em;
}

.full-width {
    width: 100%;
}

.game-table .player {
    border-right: 1px solid #aaa;
    background-color: #eee;
}

.game-table ol.card-list {
    margin: 0 0 0 1.5em;
    padding: 0.5em;
    line-height: 1.5em;
}

.player ol.card-list li {
    border: 1px solid #aaa;
    border-right-color: black;
    border-bottom-color: black;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin: 0.25em;
}

.player ol.card-list li li {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.player ol.card-list ol {
    border: none;
    border-top: 1px solid #aaa;
}

.player ol.card-list li li a {
    border: none;
}

.game-table .player-active {
    background-color: #ddd;
}

#game-info {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

#game-info div, #game-info textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    border-collapse: collapse;
}

.scrollable {
    overflow-x: clip;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.chat-timestamp {
    color: #888;
    font-size: smaller;
}

textarea.game-notes {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
}

.full-height {
    height: 20em;
}

@media (min-width: 576px) {
    .full-height {
        height: 30em;
    }
}

.full-height-content {
    height: 18.5em;
}

@media (min-width: 576px) {
    .full-height-content {
        height: 28.5em;
    }
}

.full-height-content-header {
    height: calc(17em - 6px);
}

@media (min-width: 576px) {
    .full-height-content-header {
        height: calc(27em - 6px);
    }
}

.half-height {
    height: 15em;
}

.half-height-content {
    height: 20em;
}

@media (min-width: 576px) {
    .half-height-content {
        height: 13.5em;
    }
}

.half-height-content-header {
    height: calc(12em - 6px);
}

.notes-header {
    font-size: 1rem;
    height: 1.5em;
}

.game-header {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    margin: 0;
    padding: 0 0.25em;
    line-height: 1em;
    height: 1.5em;
    background-color: #ddd;
    font-family: "Times New Roman", Times, serif;
    display: -webkit-nox;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.game-header h5 {
    display: inline-block;
    font-size: 1rem;
}

@media (min-width: 576px) {
    .game-header {
        border-top: 0;
    }
}

h5.region-header {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    clear: both;
}

.region-header a {
    text-decoration: none !important;
    color: black;
}

span.pool {
    line-height: 1em;
    font-size: small;
    background-color: #dce6be;
    color: #111;
    padding: 0.15em 0.5em
}

span.pool-ousted {
    line-height: 1em;
    font-size: small;
    background-color: #e04848;
    color: white;
    padding: 0.15em 0.5em
}

span.pool-sacked {
    line-height: 1em;
    font-size: small;
    background-color: #e0bb69;
    color: black;
    padding: 0.15em 0.5em
}

span.edge {
    line-height: 1em;
    font-size: small;
    border: 1px solid red;
    background-color: #eee;
    color: #000000;
    padding: 0.15em 0.5em
}

p.chat a {
    display: inline;
    background-color: #eee;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border-radius: 0.4em;
}

.grey p.chat a {
    background-color: #ccc;
}

p.chat span.chat-span {
    padding-right: 0.2em;
}

a.card-name {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: inherit;
    text-decoration: none;
}

div.torpor a.card-name {
    font-style: italic;
    background-color: #edd;
}

div.torpor li ol a.card-name {
    font-style: normal;
    background-color: transparent;
}

div#hand a.action:before, div#hand a.master:before, div#hand a.political_action:before, div#hand a.combat:before, div#hand a.reaction:before, div#hand a.action_modifier:before, div#hand a.ally:before, div#hand a.retainer:before, div#hand a.equipment:before, div#hand a.event:before {
    font-family: 'jol';
    font-size: 1.5em;
    padding-right: 5px;
    vertical-align: bottom;
}

div#hand a.action:before {
    content: 'p';
}

div#hand a.master:before {
    content: 'x';
}

div#hand a.political_action:before {
    content: 'r';
}

div#hand a.combat:before {
    content: 't';
}

div#hand a.reaction:before {
    content: 'v';
}

div#hand a.action_modifier:before {
    content: 'q';
}

div#hand a.ally:before {
    content: 's';
}

div#hand a.retainer:before {
    content: 'w';
}

div#hand a.equipment:before {
    content: 'u';
}

div#hand a.action_modifier.reaction:before {
    content: 'qv';
}

div#hand a.action_modifier.combat:before {
    content: "qt";
}

div#hand a.combat.reaction:before {
    content: "tv";
}

div#hand a.action.reaction:before {
    content: "pv";
}

div#hand a.action.combat:before {
    content: "pt";
}

div#hand a.event:before {
    content: "{";
}

.counter {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: small;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    border-radius: 10px;
    margin-bottom: 0.5em;
    color: #fff;
    background-color: grey;
}

small.votes {
    background-color: #ffd246;
    border: 1px solid black;
    color: black;
}

#hand {
}

@media (min-width: 576px) {
    #hand {
        height: 13.5em;
    }
}

#hand ol.card-list {
    margin: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    line-height: 1.5em;
    list-style-position: inside;
}

#hand ol.card-list > li {
    padding-bottom: .2em;
    padding-top: .2em;
}

@media (min-width: 576px) {
    #hand ol.card-list > li {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.region-empty-true {
    display: none;
}

.region-empty-false {
    display: block;
}

.tippy-content {
    text-align: left;
}

#loadMessage {
    margin-top: 40vh;
}

a {
    cursor: pointer;
}

.form-control-sm {
    font-size: 16px; /* 16px = minimum to prevent auto-zoom on phone Safari */
}

.card {
    border: 1px solid #aaaaaa;
}

.user-card {
    width: 100%;
}

@media (min-width: 576px) {
    .user-card {
        width: 25%;
    }
}

.card-header {
    background-color: #ddd;
    font-family: 'IM Fell English', serif;
}

.list-group-item-action {
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}

#newChatAlert {
    background-color: white;
    border-bottom: 1px solid #aaa;
    color: #dd0000;
    font-size: .9em;
    font-weight: bold;
    text-align: center;
}

.discipline {
    font-family: 'disciplines';
    font-size: 1.3em;
    padding-right: 2px;
    vertical-align: bottom;
}

.ani:before {
    content: 'a';
    position: relative;
    top: 2px;
}

.ANI:before {
    content: 'A';
}

.obe:before {
    content: 'b';
    position: relative;
    top: 2px;
}

.OBE:before {
    content: 'B';
}

.cel:before {
    content: 'c';
    position: relative;
    top: 2px;
}

.CEL:before {
    content: 'C';
}

.dom:before {
    content: 'd';
    position: relative;
    top: 2px;
}

.DOM:before {
    content: 'D';
}

.dem:before {
    content: 'e';
    position: relative;
    top: 2px;
}

.DEM:before {
    content: 'E';
}

.for:before {
    content: 'f';
    position: relative;
    top: 2px;
}

.FOR:before {
    content: 'F';
}

.san:before {
    content: 'g';
    position: relative;
    top: 2px;
}

.SAN:before {
    content: 'G';
}

.thn:before {
    content: 'h';
    position: relative;
    top: 2px;
}

.THN:before {
    content: 'H';
}

.vis:before {
    content: 'i';
    position: relative;
    top: 2px;
}

.VIS:before {
    content: 'I';
}

.pro:before {
    content: 'j';
    position: relative;
    top: 2px;
}

.PRO:before {
    content: 'J';
}

.chi:before {
    content: 'k';
    position: relative;
    top: 2px;
}

.CHI:before {
    content: 'K';
}

.val:before {
    content: 'l';
    position: relative;
    top: 2px;
}

.VAL:before {
    content: 'L';
}

.mel:before {
    content: 'm';
    position: relative;
    top: 2px;
}

.MEL:before {
    content: 'M';
}

.nec:before {
    content: 'n';
    position: relative;
    top: 2px;
}

.NEC:before {
    content: 'N';
}

.obf:before {
    content: 'o';
    position: relative;
    top: 2px;
}

.OBF:before {
    content: 'O';
}

.pot:before {
    content: 'p';
    position: relative;
    top: 2px;
}

.POT:before {
    content: 'P';
}

.qui:before {
    content: 'q';
    position: relative;
    top: 2px;
}

.QUI:before {
    content: 'Q';
}

.pre:before {
    content: 'r';
    position: relative;
    top: 2px;
}

.PRE:before {
    content: 'R';
}

.ser:before {
    content: 's';
    position: relative;
    top: 2px;
}

.SER:before {
    content: 'S';
}

.tha:before {
    content: 't';
    position: relative;
    top: 2px;
}

.THA:before {
    content: 'T';
}

.aus:before {
    content: 'u';
    position: relative;
    top: 2px;
}

.AUS:before {
    content: 'U';
}

.vic:before {
    content: 'v';
    position: relative;
    top: 2px;
}

.VIC:before {
    content: 'V';
}

.abo:before {
    content: 'w';
    position: relative;
    top: 2px;
}

.ABO:before {
    content: 'W';
}

.myt:before {
    content: 'x';
    position: relative;
    top: 2px;
}

.MYT:before {
    content: 'X';
}

.dai:before {
    content: 'y';
    position: relative;
    top: 2px;
}

.DAI:before {
    content: 'Y';
}

.spi:before {
    content: 'z';
    position: relative;
    top: 2px;
}

.SPI:before {
    content: 'Z';
}

.obt:before {
    content: '*';
    position: relative;
    top: 2px;
}

.OBT:before {
    content: '+';
}

.tem:before {
    content: '(';
    position: relative;
    top: 2px;
}

.TEM:before {
    content: ')';
}

.str:before {
    content: ':';
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.STR:before {
    content: ';';
    margin-right: 5px;
}

.mal:before {
    content: '<';
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.MAL:before {
    content: '>';
    margin-right: 5px;
}

.flight:before, .FLIGHT:before {
    content: "=";
}

.d:before {
    content: "0";
}

@media (min-width: 768px) {
    .max-width-md {
        margin-left: calc(calc(100vw - 768px) / 2);
        margin-right: calc(calc(100vw - 768px) / 2);
    }
}

.modal-header {
  padding: .5rem;
  background-color: #eee;
}
.modal-body {
  padding: .5rem 1rem;
}
.modal-footer {
  padding: .5rem;
}
.modal-title {
  text-align: left;
  width: 100%;
}
.modal-title .card-type {
  font-size: 2em;
  vertical-align: sub;
  line-height: 1em;
}
.modal-title .card-type:before { font-family: 'jol'; }
.modal-title .action:before { content: 'p'; }
.modal-title .master:before { content: 'x'; }
.modal-title .political_action:before { content: 'r'; }
.modal-title .combat:before { content: 't'; }
.modal-title .reaction:before { content: 'v'; }
.modal-title .action_modifier:before { content: 'q'; }
.modal-title .ally:before { content: 's'; }
.modal-title .retainer:before { content: 'w'; }
.modal-title .equipment:before { content: 'u'; }
.modal-title .action_modifier.reaction:before { content: 'qv'; }
.modal-title .action_modifier.combat:before { content: "qt"; }
.modal-title .combat.reaction:before { content: "tv"; }
.modal-title .action.reaction:before { content: "pv"; }
.modal-title .action.combat:before { content: "pt"; }
.modal-title .event:before { content: "{"; }

#cardModal .modal-body {
    text-align: left;
}

#playCardModal .discipline {
    float: left;
    font-family: 'disciplines';
    font-size: 2.5em;
    line-height: 1.1em;
    padding-right: .25em;
}

#playCardModal .mode-text {
    margin-bottom: 0;
    text-align: left;
}

/*Disable the standard hover behavior of bootstrap buttons.  On touch screens
  like mobile phones, it's more intuitive to show the dramatic change in style
  once the button is pressed, so save it for that.*/
#playCardModal .modal-body button:hover:not(.active) {
  color: #343a40;
  background-color: #cdccdc;
  background-image: none;
  border-color: #343a40;
}

#playCardModal .card-mode {
  white-space: normal;
}

#playCardModal .requirements {
  /*background-color: #fdf;
  border: 1px solid #a7a;*/
}

.card-clan {
  font-family: 'jol';
  font-size: 2rem;
  line-height: 1; /*2.5rem;*/
  vertical-align: middle;
}

#playCardModal .card-cost {
}

#targetPicker {
  background-color: rgba(0, 0, 0, .5);
}

option.pinged {
  color: red;
  font-style: italic;
  font-weight: bold;
}

#playCardModal .burn-option {
  width: 36px;
}

.round-button {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  white-space: normal;
}

.round-button-big-font {
  display: block;
  font-size: 2rem;
  margin-top: -7px;
}

@media (min-width: 576px) {
  .round-button-big-font {
    font-size: 1.5rem;
    margin-top: 0;
  }
}
#cardModal .discipline {
    font-family: 'disciplines';
    font-size: 2em;
    line-height: 1.1em;
    padding-right: .25em;
}
.math {
    font-family: monospace;
}
.counters {
    width: 5rem;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    background-color: grey;
    cursor: pointer;
}
.modal .votes {
    display: inline-block;
    min-width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
    background-color: #ffd246;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
}
.blood {
    background-color: #c00;
}
.life {
    background-color: #1d9041;
}
