<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>JOL3</display-name>
  <description>Jyhad On-Line 3.0 Web Client</description>
  <context-param>
    <param-name>directory</param-name>
    <param-value>/home/deckserv/interactive/data</param-value>
    <description>Location of the JOL database files</description>
  </context-param>
  <context-param>
    <param-name>prefix</param-name>
    <param-value>/jol3/</param-value>
    <description>Equal to context root value so hyperlinks can function correctly</description>
  </context-param>
  <context-param>
    <param-name>email</param-name>
    <param-value>george.finklang@gmail.com</param-value>
    <description>System admin email, to email exceptions and other status messages</description>
  </context-param>

  <servlet>
    <servlet-name>CardServlet</servlet-name>
    <servlet-class>deckserver.servlet.CardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TurnServlet</servlet-name>
    <servlet-class>deckserver.servlet.TurnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeckServlet</servlet-name>
    <servlet-class>deckserver.servlet.DeckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>deckserver.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeckserverServlet</servlet-name>
    <servlet-class>deckserver.servlet.DServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>deckserver.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>deckserver.login.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>deckserver.admin.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlayerServlet</servlet-name>
    <servlet-class>deckserver.servlet.PlayerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDeck</servlet-name>
    <display-name>ShowDeck</display-name>
    <servlet-class>deckserver.servlet.ShowDeckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainPage</servlet-name>
    <jsp-file>/main.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ForwardPlayer</servlet-name>
    <jsp-file>/toplayer.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>JolInit</servlet-name>
    <servlet-class>deckserver.dwr.Init</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>MainPagePreload</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/main.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DeckPagePreload</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/deck.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>TopBarPreload</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/topbar.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AdminPagePreload</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/admin.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GamePagePreload</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/game.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>JolMain</servlet-name>
    <jsp-file>/WEB-INF/jsps/topframe/jol3.jsp</jsp-file>
    <load-on-startup>10</load-on-startup>
  </servlet>
<servlet>
  <servlet-name>dwr-invoker</servlet-name>
  <display-name>DWR Servlet</display-name>
  <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
  <init-param>
  <param-name>debug</param-name>
  <param-value>true</param-value>
</init-param>
</servlet>

<filter>
  <filter-name>DeckserverParamFilter</filter-name>
  <filter-class>deckserver.dwr.ParamCheck</filter-class>
</filter>

<filter-mapping>
  <filter-name>DeckserverParamFilter</filter-name>
  <url-pattern>/beta/*</url-pattern>
</filter-mapping>

<servlet-mapping>
  <servlet-name>dwr-invoker</servlet-name>
  <url-pattern>/dwr/*</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>JolMain</servlet-name>
    <url-pattern>/beta/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/ds.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/styles.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeckServlet</servlet-name>
    <url-pattern>/deck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CardServlet</servlet-name>
    <url-pattern>/card</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>TurnServlet</servlet-name>
    <url-pattern>/turn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/msg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/dadmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlayerServlet</servlet-name>
    <url-pattern>/player</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDeck</servlet-name>
    <url-pattern>/showdeck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeckserverServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
</web-app>
