body {
    background: black;
    color: red;
}

#curturn {
    background: white;
    color: black;
}

#gchatwin {
    width: 100%;
    background: white;
    color: black;
}

#owngamediv {
    height: 100%
}

#decks {
    height: 350px;
}

#opengames {
    background: white;
    color: black;
}

#deckcontentdiv {
    height: 420px;
    overflow: auto;
}

.cardsdiv {
    height: 200px;
    overflow: auto;
}

.errdiv {
    height: 70px;
    color: white;
    overflow: auto;
}

td.gameplayers {
    font-size: small;
}

.chattable {
    color: black;
}

.gamelink {
    color: black;
    text-decoration: underline;
}

.gamediv {
    height: 300px;
    overflow: auto;
    background: white;
    color: black;
}

.history {
    height: 200px;
    overflow: auto;
}

a:link, a:visited, a:hover, a:active {
    color: yellow
}

span.edge {
    color: yellow;
}

span.library {
    color: olive;
}

span.crypt {
    color: teal;
}

span.hand {
    color: burlywood;
}

span.cardtext {
    color: lime;
}
