<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>JOL3</display-name>
    <description>Vtes Online Web Client</description>

    <listener>
        <listener-class>deckserver.JyhadOnlineServletInitializer</listener-class>
    </listener>

    <context-param>
        <param-name>prefix</param-name>
        <param-value>/jol3/</param-value>
    </context-param>

    <context-param>
        <param-name>email</param-name>
        <param-value>shannon.dowley@gmail.com</param-value>
    </context-param>

    <servlet>
        <servlet-name>JolMain</servlet-name>
        <jsp-file>/main.jsp</jsp-file>
        <load-on-startup>10</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <filter>
        <filter-name>DeckserverParamFilter</filter-name>
        <filter-class>deckserver.dwr.ParamCheck</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DeckserverParamFilter</filter-name>
        <url-pattern>/main.jsp</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JolMain</servlet-name>
        <url-pattern>/main.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>

</web-app>